.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  margin: 3%;
}

/* .red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Game-div {
  width: 100%;
}

.Game-header {
  align-content: space-between;
  border: 1px solid red;
  display: flex;
  width: 100%;
}

.Main-site {
  align-items: center;
  align-content: space-around;

  display: flex;
  height: 400px;
  justify-content: center;
}
