* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  border: 1px solid blue;
}

/* .red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    height: 100%;
  }
}

.App-header {
  /* background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  border: 1px solid orange;
  height: 20vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Game-div {
  width: 40%;
}

.player-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Game-header {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  display: flex;
  width: 100%;
}

.Game-header p {
  border: 1px solid green;
  margin: auto;
}

.Game-header img {
  border: 1px solid green;
  margin: auto;
  border-radius: 50%;
}

.Main-site {
  align-items: center;
  align-content: space-around;

  display: flex;
  height: 80vh;
  justify-content: center;
}

.question {
  background-color: rgb(223, 219, 219);
}

.questions {
  border-radius: 5px;
  border: 2px solid orange;
  padding: 2px;
}
