* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  background: #FF1F88;

}

.App {
  text-align: center;
}

.App-logo {
  /* padding: 10px; */
  position: relative;
  /* width: 100vw; */
  height: 70vh;
  z-index: -1;
  /* border: #61dafb; */
  /* border: 1px solid blue; */
  /* margin: auto; */
  margin-top: 18vh;
}

/* .red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    height: 100%;

  }
} */

.App-header {
  /* background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  /* border: 1px solid orange; */
  height: 11vh;
}

h4 {
  color: white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.App-link {
  color: #61dafb;
}

/* @keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
} */

a:hover {
  text-decoration: none;

}

.Game-div {
  width: 70%;
}

.Game-divE {
  width: 70%;
  overflow: scroll;
  height: 100%;
}

.player-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  background-color: rgb(232, 248, 0)
}

.Game-header {
  flex-direction: column;
  border-radius: 5px;

  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  background-color: rgb(245, 245, 245);
  display: flex;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;

}

.Game-header p {
  /* border: 1px solid green; */
  margin: auto;
}

.Game-header img {
  /* border: 1px solid green; */
  margin: auto;
  border-radius: 50%;
  margin: 10px;
}

.Main-site {
  align-items: center;
  align-content: space-around;

  display: flex;
  height: 80vh;
  justify-content: center;
}

.question {
  background-color: rgb(223, 219, 219);
  padding: 5px;
  margin-bottom: 15px;
}

.questions {
  border-radius: 5px;
  /* border: 2px solid orange; */
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(245, 245, 245);
  border: #61dafb;
  /* width: 100%; */
}


.botoes-retornar {
  display: flex;
  flex-direction: column;
}

.ranking {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
}